
*{
    margin:o;
    padding: 0;
}
#mysection{
    height: 70%;
    width: 100%;

}
.myimg{
    width: 100%;
    height: 30%;
}


.nav-flex {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position:fixed;
    z-index: 100;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
}
 
.nav-flex li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}
 
.nav-flex li a {
    font-family:  cursive;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    height: 100vh;
    padding: 30px;
    text-decoration: none;
    transition:0.5s;
}
.nav-flex li a:hover{

    background: aqua;
}
 
.mysection {
    height: 820px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


   
    