*{
    margin: 0;
    padding: 0;
}
.body{
    background: rgba(230, 210, 210, 0.5);
    margin:20px 20px;
    text-align: center;
    font-family: verdana;
}
.loginpage{
    margin:12% auto 7%;
    padding: 0;
    border: 1px solid rgb(239, 239, 245);
    max-width: 100%;
    min-width: 500px;
    width: 30%;
    background: #fff;
}
.header{
    background-color: aqua;
    color: #000;
}
.formheading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: top 8px;
}
.image{
    width:20%;
    height: 100px;
    position:center;
    overflow-y: auto;
    overflow-x:visible;
}

.inputs{
padding: 30px 30px;
}
.input1,
.input2{
    text-align: left;
    padding-left: 5px;
}
.loginUsername{
    width: 70%;
    padding: 5px;
}
.loginPassword{
    width: 70%;
    padding:5px;
    margin-top: 20px;
    margin-bottom:2opx;
}
.loginButton{
    padding: 20px;;
    width: 100%;
    border-radius: 15%;
}
.signbtn{
    background-color: aqua;
    width:70% ;
    padding: 5px;
}
.signbtn a{
    text-decoration: none;

}
#form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.registration-form {
    text-align: left;
    margin-bottom:25px;
}


.registration-form label {
    display: block;
    margin-bottom: 10px;
}

.registration-form input,
.registration-form select {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
#button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}