*{
    margin:0;
    padding: 0;
}
#body{
    background-color: rgb(27, 27, 27);
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/masenologo.png);
}
.logo{
    margin:0;
    margin-left:28px;
    margin-bottom:30px; 
}
.myimg{
   float:right;
   width: 40px;
   margin-top: 5px;
}
.sidenav {
    width: 350px;
    height: 100%;
    background-color: #555;
    overflow: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .sidenav a {
    float: left;
    text-align:left;
    display: flex;
    padding: 10px 10px 10px 32px;
    color: rgb(8, 193, 250);
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.5s;
  }
  
  
  .sideanav a:hover {
    background-color: #000;
  }


